
.head-log{
  text-align: center;
}

#name{
  font-size: 60px;
  font-weight: bold;
  color:#99004d;
}

.score{
  display:flex;
  color:#e60073;
  text-align: center;
  font-size: 20px;
  padding-left: 34em;
}

 #attempt , #restart{
  margin: 0 0 0 1em;
}

#btreStart{
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 12px;
  background-color:#ff66a3;
}

body{
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-image: url("../img/backimage.png");

}

.game-memory{
  width: 635px;
  height: 635px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #99004d;
  border-radius: 25px;
  background: linear-gradient(to bottom left, #993366 31%, #ffffff 105%);
}

.card{
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  /*References (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_box)*/
  transform-style: preserve-3d;
  transition: transform .4s;
}

.card:active{
  transform: scale(0.97);
  transition: transform .5s ;
}
/*References (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2)*/
.card.flip {
  transform: rotateY(180deg);
}


.front-face , .back-face{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 20px;
  border-radius: 15px 50px;
  padding: 6px;
  /*References (https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_backface-visibility)*/
  backface-visibility: hidden;
}

/*References (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_box)*/
.front-face {
  transform: rotateY(180deg);
}

/*dialog*/
#dialog1{
  text-align: center;
  width: calc(60% - 10px);
  height: calc(45% - 10px);
  border-radius: 15px 50px;
  border: 2px solid #99004d;
  background: linear-gradient(to bottom left, #660033 -12%, #ffffff 110%);
}

#win{
  font-size: 60px;
  color: white;
}

#time , #attemps , #stars{
  font-size: 20px;
  color: white;;
}

#time1 , #attemp1 , #stars1{
  font-size: 20px;
  color: white;
}

#plagain{
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 5px;
  border-radius: 12px;
  background-color:#ff66a3;

}

.container-fluid{
  text-align: center;
  color: #99004d;
}
